[submodule "scripts/d3"]
	path = scripts/d3
	url = https://github.com/mbostock/d3.git
[submodule "scripts/topojson"]
	path = scripts/topojson
	url = https://github.com/mbostock/topojson.git
[submodule "scripts/queue"]
	path = scripts/queue
	url = https://github.com/mbostock/queue.git
