@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

.land {
	fill: rgb(237, 235, 225);;
	stroke: rgb(0,0,0);
	stroke-width: .5px;
}

.land.Pakistan, .land.Yemen, .land.Somalia {
	fill: rgb(213, 193, 156);
}

.deaths {
	fill: green;
	stroke: red;
}
.red {
	color: red;
}
.green {
	color: green;
}
.deaths.dot {
	opacity: 1;
}

body {
	overflow: hidden;
	background-color: rgb(125, 212, 255);
}
.instructions {
	width: 500px;
	height: 30px;
	background: rgba(255,255,255,.8);
	padding: 15px;
	border: 2px solid #4789C8;
	border-radius: 15px;
	position: fixed;
	left: calc(50% - 250px);
	top: calc(45% - 45px);
	text-align: center;
	display: none;
}

.instructions h3 {
	margin-bottom: 8px;
}

.instructions p {
	margin-bottom: 8px;
}

.key {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 250px;
	height: 75px;
	background-color: rgba(255,255,255,.8);
	border: 2px solid #4789C8;
	padding: 15px;
	border-radius: 15px;
}
.key p {
	margin-bottom: 10px;
}

#strikeInformation {
	position: fixed;
  width: 400px;
  height: 130px;
  background: rgba(255,255,255,.7);
  padding: 12px;
  border-radius: 12px;
	font-family: 'Special Elite', cursive;
	display: none;
}
#strikeInformation .strikeTitle,  #strikeInformation .strikeSecondaryTitleline, #strikeInformation .strikeCoords {
	font-family: 'Special Elite', cursive;
}
#strikeInformation .strikeSummary {
	margin-top: 10px;
}

.navigation {
	position: fixed;
	top: 20px;
	right: 20px;
	background: rgba(255,255,255,.8);
	border: 2px solid black;
	width: 210px;
	padding: 10px;
	text-align: center;
}
.navigation a {
	display: inline-block;
}

.playLoader {
	position: fixed;
	cursor: pointer;
	bottom: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
}

.playButton {
	display: none;
	position: fixed;
	cursor: pointer;
	bottom: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
}
.playButton:hover path {
	opacity: 1;
}